section.Customer-header-section {
  background-image: url(../../../images/Banner.jpg);
  background-size: cover;
  padding-top: 30px;
  padding-bottom: 30px;
}
.row.header-bg-clr {
  background: white;
  border-radius: 40px;
}
h1.header-heading {
  color: white;
  text-align: center;
  font-size: 60px;
  width: 60%;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 90px;
}
.get-started-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
.get-started-btn button.btn.btn-primary {
  background: black;
  border: 1px solid white;
  padding: 12px;
  padding-left: 35px;
  padding-right: 35px;
  box-shadow: 0px 0px 6px 0px white;
  border-radius: 10px;
}
.header-logo img {
  width: 160px;
}
.header-logo {
  padding: 10px;
}
nav.navbar.navbar-expand-lg.bg-body-tertiary {
  background: none !important;
  padding-top: 15px;
}
.navbar-media {
  display: flex;
  justify-content: space-around;
}
.navbar-media a {
  color: black;
}
.navbar-media a.nav-link.active {
  color: black;
  font-weight: 600;
}

button.btn.btn-primary.login {
  margin-right: 10px;
  background: none;
  color: black;
  border: none;
}
button.btn.btn-primary.signup {
  margin-right: 10px;
  padding: 4px;
  padding-left: 15px;
  padding-right: 15px;
  background: black;
  border: none;
  font-size: 14px;
}

.btn-custom-signup {
  background-color: white;
}

.signup {
  float: right;
  top: 30px;
  position: absolute;
  /* right: 27px; */
  background-color: black;
  color: white;
}
.Dashboarduser {
  width: 50px;
  height: auto;
  color: white;
}
@media only screen and (max-width: 1000px) {
  h1.header-heading {
    color: white;
    text-align: center;
    font-size: 26px;
    width: 100%;
    margin: auto;
    margin-top: 75px;
    margin-bottom: 48px;
  }
  .row.header-bg-clr {
    background: white;
    border-radius: 0px;
  }
  section.header-section {
    padding-top: 0px;
  }

  section.header-section {
    padding-bottom: 25px;
  }
  .navbar-tgl-btn {
    position: absolute;
    right: 0px;
    top: -46px;
  }
  .header-logo {
    padding: 10px;
    float: left;
    position: relative;
    top: 12px;
  }
  .navbar-media a {
    color: black;
    text-align: left;
  }
}
.btn-custom {
  background-color: #000 !important;
  color: #fff !important;
  border-color: #000 !important;
  display: inline-block; /* Ensure it's displayed as a block element */
  vertical-align: middle; /* Vertically align it to the middle */
  line-height: normal; /* Reset the line height */
  margin: 5px;
}

.youtube-channel-posts {
  max-height: 400px; /* Adjust the maximum height as needed */
  overflow-y: auto; /* Enable vertical scrolling */
  padding: 30px;
}
