section.faq {
    padding-bottom: 50px;
}

h1.faq-section {
    text-align: center;
    margin-bottom: 50px;
}
.accordion-item.faq-accordances {
    margin-bottom: 18px;
    border: 1px solid #e7e7e7;
    box-shadow: 2px 2px 0px 0px #d9d9d9;
  
}

.accordion-button:not(.collapsed) {
    background: #e5e5e5;
    color: black;
    margin-right:40px;
    margin-left: 0px
}
.make-your-questions {
    background: #f8f8f8;
    padding: 50px;
}
.make-your-questions input.form-control {
    background: #dfdede;
    padding: 12px;
}
.make-your-questions textarea {
    background: #dfdede;
    padding: 12px;
}
button.btn.btn-primary.send-req {
    background: black;
    border: none;
    border-radius: 3px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 600;
    display: flex;
}
.error-message{
    color: red;
    margin-left: 50px;
}


/* CSS for FAQ section */
.faq-section {
    position: relative;
  }
  
  .faq-section::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%; /* Align the line to the center */
    transform: translateX(-50%); /* Move the line back by half its width */
    width: 0; /* Set initial width to 0 */
    height:1px; /* Adjust line height as needed */
    background-color:black; /* Adjust line color as needed */
    transition: width 0.5s ease;
  }
  
  .faq-section:hover::after {
    width: 8%; /* Adjust line width on hover as needed */
    opacity: 1; /* Make the line visible on hover */
    /* Add additional transition effects as needed */
  }
  .Error{
    color: red;
  }
  