.open-form {
  width: 100%;
  background: white;
  border: 1px solid #cccccc;
  padding: 16px;
  text-align: left;
  color: black;
  font-size: 16px;
  font-weight: 600;
  box-shadow: 2px 2px 2px 2px #cbcbcb;
  border-radius: 12px;
}
button.btn.btn-primary.youtube-btn {
  width: 100%;
  background: white;
  border: 1px solid #cccccc;
  padding: 16px;
  text-align: left;
  color: black;
  font-size: 16px;
  font-weight: 600;
  box-shadow: 2px 2px 2px 2px #cbcbcb;
  border-radius: 12px;
}
ul.social-icons {
  width: 100% !important;
}
form#youtubeForm {
  width: 100%;
}
