.main-department-section {
    background-color: #fff;
    color: #000;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.5s ease;
}
.dep-tbl{
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;

}
.customer-heading{
    font-size: 2rem;
}
.Searchbar {
    width: 50%;

}

.employee-table {
    width: 100%;
    border-collapse: collapse;
}

.employee-table th,
.employee-table td {
    border: 1px solid #000;
    padding: 8px;
    text-align: left;
}

.employee-table th {
    background-color: #000;
    color: #fff;
}

.pagination {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination button {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 8px 16px;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.pagination button:hover {
    background-color: #555;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
