
button {
  padding: 5px 10px;
  margin-right: 5px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.522);
}
.description-container {
  height: 150px; /* Adjust the height as needed */
  overflow-y: auto;
}
/* button:hover {
  background-color: rgba(0, 0, 0, 0.522);
} */
button.edit-btn-dashboard {
  background: black;
  color: white;
  font-size: 14px;
  padding-left: 20px;
  padding-right: 20px;
  border: none;
  border-radius: 5px;
}
button.delect-btn-dashboard
{
  background: black;
  color: white;
  font-size: 14px;
  padding-left: 20px;
  padding-right: 20px;
  border: none;
  border-radius: 5px;
}
.plan-managements td {
  font-size: 14px;
  padding: 3px;
  border: 1px solid #e7e7e7;
}
button.crate-new-plan {
  background: black;
  color: white;
  border: none;
  margin-top: 20px;
  font-size: 14px;
  border-radius: 5px;
  padding: 10px;
}
